img {
    width: 100%;
    margin-top: 1rem;
}

form, input, optgroup, select {
    width: 50%;
    margin-top: 1rem;
}

button {
    margin-top: 1rem;
    background-color: #3880ff;
    padding: 11px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}